<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | Noticia em Foco</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/contact.css">
</head>

<body>
    <header>
        {{> navbar}}
    </header>

    <div class="contact-container">
        <div class="contact-grid">
            <div class="contact-info">
                <img src="images/teste.png" width="500" height="450">
                <div class="contact-services">
                    <h2>Como podemos ajudar?</h2>
                    <ul>
                        <li> • Divulgação de notícias</li>
                        <li> • Publicação de anúncios e comunicados</li>
                        <li> • Promoção de eventos locais e regionais</li>
                        <li> • Entrevistas e reportagens especiais</li>
                        <li> • Criação de conteúdo patrocinado</li>
                        <li> • Marketing e publicidade digital</li>
                        <li> • Atualizações em tempo real sobre eventos importantes</li>
                        <li> • Cobertura de esportes locais</li>
                        <li> • Publicação de editoriais e artigos de opinião</li>
                        <li> • Informações sobre oportunidades de emprego</li>
                        <li> • Destacar parcerias com empresas locais</li>
                    </ul>
                </div>
            </div>
            <div class="contact-form-section bg-gray-100">
                <div class="contact-description">
                    <h2>Tem perguntas? Envie-nos um e-mail.</h2>
                    <p class="text-muted">
                        Somos uma publicação líder no setor, dedicada a fornecer as últimas notícias e insights sobre
                        eventos locais, nacionais e internacionais. Nosso compromisso é manter você informado sobre os
                        temas mais relevantes que impactam sua vida, negócios e comunidade.
                    </p>
                    <p class="text-muted">
                        Se você tiver perguntas, sugestões ou feedback, estamos aqui para ouvir. Por favor, clique na
                        categoria mais apropriada e preencha o formulário para entrar em contato conosco. Sua opinião é
                        importante para nós e nos ajuda a melhorar continuamente nossos serviços.
                    </p>
                </div>
                <form class="contact-form">
                    <div class="form-group">
                        <label for="category">Quem eu sou?</label>
                        <select id="category" name="category">
                            <option value="">Selecione a categoria</option>
                            <option value="Trabalho">Sou empresario e quero divulgar vagas de emprego</option>
                            <option value="Evento">Sou administrador de um evento e quero divulga-lo</option>
                            <option value="Noticia">Sou um cidadão e quero contar uma noticia.</option>
                            <option value="Parceiro">Sou dono de um negocio e quero ser parceiro do site.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Seu Nome *</label>
                        <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Seu Email *</label>
                        <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Sua Mensagem *</label>
                        <textarea id="message" name="message" placeholder="Digite sua mensagem" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="screenshot">Captura de Tela (opcional)</label>
                        <input type="file" id="screenshot" name="screenshot">
                    </div>
                    <div class="form-group checkbox-container">
                        <input type="checkbox" id="captcha" name="captcha">
                        <label for="captcha">Não sou um robô</label>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        {{> footer}}
    </footer>

</body>

</html>
