<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Seu Forum de noticias</title>
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="scripts/login.js" defer></script>
</head>

<body>
    <div class="container">
        <form action="/login" method="post">

            <h1 id="formTitle">Bem-vindo</h1>
            <div class="input-group">
                <i class="fas fa-envelope input-icon"></i>
                <input type="email" id="email" name="LoginEmail" placeholder="Seu email" required>
            </div>

            <div class="input-group">
                <i class="fas fa-lock input-icon"></i>
                <input type="password" id="password" name="LoginPassword" placeholder="Sua senha" required>
            </div>

            <button type="submit">Entrar</button>

            <div class="error" id="errorMessage"></div>
        </form>
        <div class="toggle">
            <a href="/register" id="toggleAuth">Criar uma conta</a>
        </div>
    </div>


</body>