<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <footer class="abc-footer">
        <div class="def-container">
            <div class="ghi-row">
                <div class="jkl-footer-col">
                    <h4>sobre nós</h4>
                    <ul>
                        <li><a href="#">quem somos</a></li>
                        <li><a href="#">nossa equipe</a></li>
                        <li><a href="#">nossa missão</a></li>
                        <li><a href="#">contato</a></li>
                    </ul>
                </div>
                <div class="mno-footer-col">
                    <h4>suporte</h4>
                    <ul>
                        <li><a href="#">perguntas frequentes</a></li>
                        <li><a href="#">anunciar</a></li>
                        <li><a href="#">envio de notícias</a></li>
                        <li><a href="#">feedback</a></li>
                        <li><a href="#">termos de uso</a></li>
                    </ul>
                </div>
                <div class="pqr-footer-col">
                    <h4>categorias</h4>
                    <ul>
                        <li><a href="#">política</a></li>
                        <li><a href="#">economia</a></li>
                        <li><a href="#">esportes</a></li>
                        <li><a href="#">cultura</a></li>
                        <li><a href="#">tecnologia</a></li>
                    </ul>
                </div>
                <div class="stu-footer-col">
                    <h4>siga-nos</h4>
                    <div class="vwx-social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
