* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
.card {
    border: rgba(255, 0, 0, 0.288) solid 1px;
    background-color: #ff000010;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 42rem;
}
.card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.profile-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-info {
    text-align: center;
}
.profile-name {
    font-size: 1.125rem;
    font-weight: 600;
}
.profile-email {
    font-size: 0.875rem;
    color: #666;
}
.image-upload {
    position: relative;
    width: 10rem;
    height: 10rem;
}
.image-upload img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.image-upload:hover img {
    opacity: 0.5;
}
.upload-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
}
.image-upload:hover .upload-button {
    opacity: 1;
}
.form-section {
    display: grid;
    gap: 1rem;
}
.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}
.form-group label {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-weight:600;
}
.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.form-group input {
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.875rem;
}
.edit-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.save-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.save-button {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
@media (max-width: 640px) {
    body {
        padding-top: 2rem;
    }
    
    .main-content {
        grid-template-columns: 1fr;
    }
    
    .form-group {
        grid-template-columns: 1fr;
    }
}